<div class="relative h-screen overflow-hidden">
    <div class="flex flex-col h-screen">
        <app-navbar class="sticky top-0 z-50 bg-base-100"></app-navbar>

        <div class="sticky top-[4rem] z-40 bg-base-100 pb-4 shadow-md">

        <div class="flex-grow flex flex-col ">
            <input [(ngModel)]="this.globalSettingsService.globalSettingsSignal().initialAmountValue"
                (ngModelChange)="this.globalSettingsService.updateProperty('initialAmountValue', $event)" type="number"
                class="input input-bordered input-xs w-24 max-w-xs rounded-sm" />

            <select [(ngModel)]="this.globalSettingsService.globalSettingsSignal().unitSelected"
                (ngModelChange)="this.globalSettingsService.updateProperty('unitSelected', $event)"
                class="select select-bordered rounded-sm select-xs max-w-xs">
                <option value="m">items/m</option>
                <option value="s">items/s</option>
            </select>


            <button class="btn btn-sm w-40 rounded-sm" onclick="my_modal_2.showModal()">
                <img class="w-5 h-5" src="assets/Icons/ItemRecipe/various/select-recipe.png" alt="">
                Add Recipe +
            </button>

            <dialog id="my_modal_2" #myModal class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                    <div class="flex flex-col">
                        <h1>Tip: You can choose more than one at once.</h1>
                        <div role="tablist" class="tabs tabs-bordered w-full">
                            <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Components"
                                checked="checked" />
                            <div role="tabpanel" class="tab-content p-10">
                                <div class="flex flex-wrap">
                                    @for (recipe of resourcesMaterialsProducts; track $index) {
                                    <div class="tooltip" [attr.data-tip]="recipe.name">
                                        <button [ngClass]="{
                                            'bg-base-content': dataManagement.selectedItemsSet.has(recipe.ID),
                                            'scale-90': dataManagement.selectedItemsSet.has(recipe.ID),
                                            'transition-all': true, 
                                            'duration-200': true
                                        }" (click)="dataManagement.toggleSelection(recipe, myModal)"
                                            class="btn btn-sm rounded-sm w-14 h-14 m-2 p-2 hover:bg-base-content border-1 transition-all hover:scale-90 duration-200 no-animation"><img
                                                class="w-full h-auto"
                                                [src]="'assets/' + getImageSrc(recipe.name) + '.png'" alt=""></button>
                                    </div>
                                    }
                                </div>
                            </div>
                            <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Buildings" />

                            <div role="tabpanel" class="tab-content p-10">
                                <div class="flex flex-wrap">
                                    @for (recipe of buildings; track $index) {
                                    <button (click)="dataManagement.toggleSelection(recipe, myModal)"
                                        class="btn btn-sm rounded-sm w-14 h-14 m-2 p-2 hover:bg-base-content border-1 transition-all hover:scale-90 duration-200"><img
                                            class="w-full h-auto" [src]="'assets/' + getImageSrc(recipe.name) + '.png'"
                                            alt=""></button>
                                    }
                                </div>
                            </div>
                        </div>
                        <form method="dialog" class="modal-backdrop">
                            <button>close</button>
                        </form>
                    </div>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
            <div class="flex-grow"></div>
        </div>

        <div>
            <details class="dropdown ">
                <summary class="btn rounded-sm">
                    <img class="w-8 h-8"
                        [src]="'assets/' + (globalSettingsService.getProperty('assemblerSelect').IconPath || '') + '.png'"
                        alt="">
                </summary>
                <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    @for (machine of assemblerSelectOptions; track $index) {
                    <li (click)="selectAssembler(machine)"><a><img class="w-8 h-8"
                                [src]="'assets/' + machine.IconPath + '.png'" alt=""></a></li>
                    }
                </ul>
            </details>
            <details class="dropdown">
                <summary class="btn m-1 rounded-sm">
                    <img class="w-8 h-8"
                        [src]="'assets/' + (globalSettingsService.getProperty('smeltingSelect').IconPath || '') + '.png'"
                        alt="">
                </summary>
                <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    @for (machine of smeltingSelectOptions; track $index) {
                    <li (click)="selectSmelter(machine)"><a><img class="w-8 h-8"
                                [src]="'assets/' + machine.IconPath + '.png'" alt=""></a></li>
                    }
                </ul>
            </details>
            <details class="dropdown">
                <summary class="btn m-1 rounded-sm">
                    <img class="w-8 h-8"
                        [src]="'assets/' + (globalSettingsService.getProperty('miningSelect').IconPath || '') + '.png'"
                        alt="">
                </summary>
                <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    @for (machine of miningSelectOptions; track $index) {
                    <li (click)="selectMiningMachine(machine)"><a><img class="w-8 h-8"
                                [src]="'assets/' + machine.IconPath + '.png'" alt=""></a></li>
                    }
                </ul>
            </details>
            <details class="dropdown">
                <summary class="btn m-1 rounded-sm">
                    <img class="w-8 h-8"
                        [src]="'assets/' + (globalSettingsService.getProperty('researchSelect').IconPath || '') + '.png'"
                        alt="">
                </summary>
                <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    @for (machine of researchSelectOptions; track $index) {
                    <li (click)="selectMatrixLab(machine)"><a><img class="w-8 h-8"
                                [src]="'assets/' + machine.IconPath + '.png'" alt=""></a></li>
                    }
                </ul>
            </details>
            <details class="dropdown">
                <summary class="btn m-1 rounded-sm">
                    <img class="w-8 h-8"
                        [src]="'assets/' + (globalSettingsService.getProperty('chemicalSelect').IconPath || '') + '.png'"
                        alt="">
                </summary>
                <ul class="menu dropdown-content bg-base-100 z-[1] w-52 p-2 shadow rounded-sm">
                    @for (machine of chemicalSelectOptions; track $index) {
                    <li (click)="selectChemicalPlant(machine)"><a><img class="w-8 h-8"
                                [src]="'assets/' + machine.IconPath + '.png'" alt=""></a></li>
                    }
                </ul>
            </details>
        </div>
    </div>


        <div class="flex-grow overflow-y-auto">
            <app-table-ratios></app-table-ratios>
        </div>
    </div>
</div>