<div class="h-screen flex flex-col justify-center items-center gap-20 relative">
  <h1 class="font-title text-4xl font-bold z-10 text-shadow">
    DYSON SPHERE PROGRAM CALCULATOR
  </h1>
  <div class="flex gap-4 z-10">
    <button class="btn no-animation rounded-sm" routerLink="/calculator">
      CALCULATOR
    </button>
    <button class="btn no-animation rounded-sm" routerLink="/quickRatios">
      QUICK RATIOS
    </button>
  </div>
  <div
    class="absolute inset-0 bg-cover bg-center bg-no-repeat opacity-25"
    style="
      background-image: url('assets/Icons/ItemRecipe/various/dsp-background.jpg');
    "
  ></div>
</div>
