.tree-container {
    overflow: hidden;
    position: relative;
}
.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    transition: opacity 0.2s;
    opacity: 0;
  }
  