@if (this.dataManagement.selectedItems().length > 0 && this.isRecipesFormInitialized) {
} @else {
  <div class="h-full flex justify-center items-center">
    <h1 class="text-3xl font-bold">Select a recipe to see the results.</h1>
  </div>
}
@defer (when isRecipesFormInitialized) {
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>Base item</th>
          <th>Item</th>
          <th>Buildings</th>
          <th>Recipe</th>
          <th>Proliferation</th>
          <th>Belts</th>
          <th>Power</th>
        </tr>
      </thead>

      <tbody>
        @for (item of this.dataManagement.selectedItems(); track $index) {
          <ng-container>
            <ng-container *ngTemplateOutlet="recursiveTemplate; context: { $implicit: item, index: $index }"></ng-container>
          </ng-container>

          <ng-template #recursiveTemplate let-item let-index="index">
            <tr class="hover:bg-secondary transition-all duration-200">
              <td>
                <button class="btn rounded-sm btn-sm" (click)="makeItOre(item)">Base item</button>
              </td>
              <div class="tooltip" [attr.data-tip]="item.name">
                <td>
                  <div class="flex items-center justify-center">
                    <img class="w-10 h-10 m-2" [src]="'assets/' + item.IconPath + '.png'" alt="" />
                    <input [(ngModel)]="item.totalValue" type="number" class="input input-bordered input-xs w-20 max-w-xs rounded-sm" />
                  </div>
                </td>
              </div>
              <td>
                <div class="tooltip" [attr.data-tip]="item.madeFromString">
                  <div class="flex justify-center items-center">
                    <img class="w-10 h-10 m-2" [src]="'assets/' + this.dataManagement.powerFacilitiesMap()[item.madeFromString] + '.png'" alt="" />
                    <input [value]="item.totalMachine" type="number" class="input input-bordered input-xs w-20 max-w-xs rounded-sm" />
                  </div>
                </div>
              </td>
              <td>
                  @for (recipe of this.dataManagement.getPreprocessedRecipes(item.nodeUUID); track $index) {
                    <label class="label cursor-pointer flex">
                      <input
                        type="radio"
                        [name]="item.nodeUUID"
                        [id]="item.nodeUUID"
                        [value]="recipe.ID"
                        class="radio hidden"
                        (click)="storePreviousValues()"
                        [checked]="recipe.ID === item.selectedRecipe?.ID"
                        (change)="updateSelectedRecipe(item, recipe)"
                        />
                      <span
                        class="label-text flex items-center justify-center border border-primary rounded-sm hover:bg-slate-950 duration-200"
                        [ngClass]="{
                          'bg-slate-950': recipe.ID === item.selectedRecipe?.ID,
                        }"
                      >
                        @for (recSrc of recipe.itemsSrc; track $index) {
                          <img loading="lazy" [src]="'assets/' + recSrc + '.png'" class="w-8 h-8 m-2" alt="" />
                        }
                        <span class="material-symbols-outlined">arrow_forward</span>
                        @for (recSrc of recipe.resultsSrc; track $index) {
                          <img loading="lazy" [src]="'assets/' + recSrc + '.png'" class="w-8 h-8 m-2" alt="" />
                        }
                      </span>
                    </label>
                  }
              </td>
              <td>
                <!-- this should not be a static image, depends on what type of proliferator user chooses -->
                <div class="flex items-center justify-center">
                  <img [src]="'assets/' + this.dataManagement.powerFacilitiesMap()['proliferator'] + '.png'" class="w-10 h-10 m-2" alt="" />
                  <select class="select select-bordered rounded-sm select-xs max-w-xs glowProduction">
                    <option value="">none</option>
                    <option value="">accelerate</option>
                    <option value="">Increase production</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="flex justify-center items-center">
                  <img [src]="'assets/' + this.dataManagement.powerFacilitiesMap()['belt'] + '.png'" class="w-10 h-10 m-2" alt="" />
                  <input [value]="item.beltsNeeded | number: '1.0-2'" type="number" class="input input-bordered input-xs w-20 max-w-xs rounded-sm" />
                </div>
              </td>
              <td>
                <span>{{ item.power | powerConversion }}</span>
              </td>
            </tr>
            @for (child of item.childs; track $index) {
              <ng-container *ngTemplateOutlet="recursiveTemplate; context: { $implicit: child, index: index + '-' + $index }"></ng-container>
            }
          </ng-template>
        }
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>Total items</th>
          <th>Total Machines</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              @for (item of this.dataManagement.totals().totalItems; track $index) {
                <div class="tooltip border border-primary aspect-video m-1 rounded-sm bg-base-300" [attr.data-tip]="item.name">
                  <img class="w-8 h-8 m-2" [src]="'assets/' + item.IconPath + '.png'" alt="" />
                  <p>{{ item.total | number: '1.0-2' }}</p>
                </div>
              }
            </div>
          </td>
          <td>
            <div>
              @for (item of this.dataManagement.totals().totalMachinesByType; track $index) {
                <div class="tooltip border border-primary aspect-video m-1 rounded-sm bg-base-300" [attr.data-tip]="item.name">
                  <img class="w-8 h-8 m-2" [src]="'assets/' + this.dataManagement.powerFacilitiesMap()[item.name] + '.png'" alt="" />
                  <p>{{ item.total | number: '1.0-2' }}</p>
                </div>
              }
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h1>Power: {{ this.dataManagement.totals().totalPower }}</h1>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
} @loading {
  <div class="skeleton h-20 w-full"></div>
  <div class="skeleton h-20 w-full mt-2"></div>
} @error {
  <h1 class="text-red-500">Error loading data</h1>
}
<div>
  <pre>{{ this.dataManagement.selectedItems() | json }}</pre>
</div>
